:root {
  --cool-dark: #061130;
  --cool-blue: #1C4BC4;
  --cool-light: #F4F6F8;
  --cool-yellow: #FAFD61;
}

* {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: var(--cool-dark);
  justify-content: space between;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

nav {
  display: flex;
  align-items: center;
  gap: 4rem;
}

nav button {
  border: none;
  display: flex;
  justify-content: center;
  color: var(--cool-blue);
}

main {
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: #F4F6F8;
}

footer {
  background-color: grey;
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
}

.d-flex {
  display: flex;
}